.cantidad, 
select{
    position: relative;
    height: 30px;
    width: 60%;
    left: 25px;
    border: 1px solid #95B8E7;
    background-color: #fff;
    vertical-align: middle;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    margin: 0;
    padding: 0;
    outline: none;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    margin-bottom: 10px;
}

.formulario__input-error{
    font-size: 12px;
    margin-bottom: 0;
    display: none;
}

.formulario__input-error-activo{
    display: block;
}

/* actualizar*/
table{
	border: 1px solid black;
	border-collapse: collapse;
    user-select: none;
}
table td{
	border:1px solid black;
	padding: 10px 20px;
	text-transform: uppercase;
}
table tr:hover{
	background:#ccc;
    color: red;
}
/*table td:hover{
	color: red;
}*/
.contenedor {
        color: black;
    }


/*contenedores*/
.actualizar{
    border: 2px solid bisque;
    padding:30px 20px;
    width:350px;
    height:210px;
    float: left;
    display:block;
}

.actualizar{
    position: fixed;
    left: 57%;
    top: 25%;
    user-select: none;
}    

.contenedor{
    position: fixed;
    left: 13%;
    top: 22%;
}

h2{
    color:burlywood;
    font-family: "verdana";
    left: 15px;
}

input{
    cursor: pointer;
    left: 10px;
    margin-left:88px;
    margin-top: 5px;
    width: 100px;
    height: 25px;
}

.h2{
    color:burlywood;
    font-family: "verdana";
    left: 15px; 
    border: 1px solid black;
	border-collapse: collapse;
    padding: 10px;
    user-select: none;
}